@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'intro.css';
@import 'topo.css';
@import 'personagens.css';
@import 'rodape.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}

body{
    height: auto;
}

h2{
    font-family: "Press Start 2P", serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}

h3{
    font-size: 20px;
    letter-spacing: 4px;
}

.secao_personagens{
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
}


.ajuste_tamanho{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 60px auto;
}

.secao_personagens p{
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.box_conteudo_personagem{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box_divisao{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.line{
    width: 100%;
    height: 2px;
    margin: 3px 0;
}

.banner{
    width: 100%;
    height: 500px;
    background-image: url('../assets/IMG/banner.png');
    background-position: center;
    background-size: cover;
}


.btn_saber_mais,
.btn_joel,
.btn_deacon,
.btn_arthur{
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.box_btn{
    height: 40px;
}

.btn_saber_mais:hover,
.btn_joel:hover,
.btn_deacon:hover,
.btn_arthur:hover{
    padding: 9px;
}

.esconder,
.escondido,
.esconde,
.escond{
    display: none;
}