@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*KRATOS*/
.box_kratos h2,
.box_kratos h3,
.box_kratos strong{
    color: #A41E1E;
}

.box_kratos .line{
    background-color: #A41E1E;
}

.box_kratos{
    width: 100%;
}

.box_conteudo_kratos{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;
}

.box_conteudo_kratos p{
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.box_conteudo_personagem{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box_divisao{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.esconder{
    display: none;
}

.box_conteudo_kratos .box_btn{
    height: 40px;
}

.box_conteudo_kratos .box_btn .btn_saber_mais{
    background-color: #A41E1E;
    color: #fff;
}