@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*KRATOS*/
.box_kratos h2,
.box_kratos h3,
.box_kratos strong{
    color: #A41E1E;
}

.box_kratos .line{
    background-color: #A41E1E;
}

.box_kratos{
    width: 100%;
    background-color: #A2A9B0;
}

.box_conteudo_kratos{
    width: 100%;
}

.box_kratos .box_btn .btn_saber_mais{
    background-color: #A41E1E;
    color: #fff;
}

/*JOEL*/
.box_joel{
    width: 100%;
    background-color: #556B2F;
}

.box_joel h2,
.box_joel h3{
    color: #2F2F2F;
}

.box_joel .line{
    background-color: #2F2F2F;
}

.box_joel .btn_joel{
    color: #fff;
}

/*DEACON ST.JOHN*/
.box_deacon{
    width: 100%;
    background-color: #4B4B4B;
}

.box_deacon .line{
    background-color: #FFF;
}

.paragrafo{
    margin: -8px 0 10px ;
}

.btn_deacon{
    background-color: #FFF;
}

/*ARTHUR MORGAN*/
.box_arthur{
    width: 100%;
    background-color: #8B4513;
}

.box_arthur h2,
.box_arthur h3{
    color: #D2B48C;
}

.box_arthur .line{
    background-color: #D2B48C;
}

.btn_arthur{
    background-color: #D2B48C;
}