@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header{
    background-color: #121212;
    color: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: 3px solid #FF4500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_logo{
    width: 50%;
    padding-left: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box_logo img{
    width: 50px;
}

h1, span{
    font-family: "Press Start 2P", serif;
    word-spacing: -20px;
    font-size: 24px;
}

.box_links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}

.box_links nav{
    display: flex;
    height: 100%;
}

.item_nav{
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    height: 100%;
    display: flex;
    align-items: center;
}


.item_nav:hover{
    background-color: #FF4500;
    transition: 0.4s ease-in-out;
}

button{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #121212;
    border: none;
    cursor: pointer;
    position: relative;
}

button img{
    width: 16px;
    margin-top: 3px;
}

.box_link_personagens{
    background-color: #FF4500;
    width: 140px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 1;
}

.box_link_personagens a{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    height: 100%;
    border-radius: 8px;
}

.box_link_personagens a:hover{
    transition: 0.4s ease-in-out;
    background-color: #121212;
}